.title-post-ellipsis {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topnavbar .navbar-nav > .nav-item > .nav-link:hover {
    color: black;
}

.page-item.on .page-link {
    background-color: #e9ecef;
}

figure.media {
    display: block;
}

figure.image > img {
    max-width: 100%;
}

.card-hidden {
    display: none;
}